footer{
    background-color: #222;
    padding: 8px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer span{
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
}

/*--------------------------------------------------------------------------------------
-------------------------------------- RESPONSIVE --------------------------------------
----------------------------------------------------------------------------------------*/

@media (max-width: 700px) {

    footer{
        padding: 8px 15px;
    }
    
    footer span{
        font-size: 11px;
    }
    

}